* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1rem;
  color: #f9f8ff;
}

/* Generic */

h1 {
  color: #a5b4fc;
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-family: "Manrope", sans-serif;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5;
}

ul {
  line-height: 1.5;
}

.cta {
  padding: 20px 30px;
  background: linear-gradient(#8e86b5, #acaeed);
  border-radius: 30px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  cursor: pointer;
}

/* Index */

header,
footer {
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1.25em 5em;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

nav ul {
  flex-direction: row;
  justify-content: space-between;
  gap: 1.875em;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
}

.hero,
.contact-form {
  background-color: #1f2039;
  padding: 80px 0;
}

.hero-inner {
  gap: 20px;
  padding: 0 5em;
}

.hero p {
  padding-bottom: 2.05em;
}

.latest-projects-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.938em;
}

.latest-projects {
  padding-bottom: 5em;
}

.latest-projects h2 {
  color: #242424;
  padding: 2.29em 0;
}

form {
  flex-direction: column;
  gap: 0.625em;
  max-width: 1000px;
  margin: auto;
  padding: 0 5em;
}

.contact-form h2 {
  color: #a5b4fc;
}

.contact-column-container {
  justify-content: center;
  gap: 0.938em;
}

.contact-column {
  flex-direction: column;
  gap: 0.625em;
  flex: 1;
}

label {
  color: #ffffff;
}

input[type="text"],
input[type="email"] {
  padding: 0.938em;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  align-self: center;
  border: none;
  width: 200px;
  margin-top: 20px;
}

textarea {
  height: 15em;
  border-radius: 5px;
}

.footer-socials {
  gap: 1.56em;
}

/* Links */

a {
  text-decoration: none;
}

.header-logo a:hover img {
  opacity: 0.7;
  transition: opacity 150ms ease;
}

nav a {
  color: #242424;
}

nav a:hover {
  text-decoration: underline;
}

/* Utilities */

.flex {
  display: flex;
}

.emphasize {
  color: #a5b4fc;
}

.uppercase {
  text-transform: uppercase;
}

/* Media queries */

@media (max-width: 996px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .hero-inner {
    flex-direction: column;
    padding: 0 1em;
    text-align: center;
  }

  .hero-image {
    order: -1;
  }

  .hero-image img {
    width: 100%;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .latest-projects h2 {
    padding: 1em;
  }

  .latest-projects-img {
    grid-template-columns: 1fr;
  }

  .latest-projects img {
    width: 100%;
  }

  .contact-column-container {
    display: block;
  }

  form {
    padding: 0 1em;
  }

  footer {
    padding: 1.25em 1em;
  }
}

/* À propos */

.main-a-propos {
  background-color: #1f2039;
}

.container-a-propos {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  width: 50%;
  margin: 0 auto;
  padding-right: 2.5em;
  padding-bottom: 2.5em;
}

.title-a-propos {
  text-align: center;
  padding: 0.9em 0 0.6em 0;
}

.subheading-a-propos {
  padding: 0.8em 0;
}

.btn-a-propos {
  display: block;
  width: fit-content;
  margin: 4em auto;
}
